/* Estilos para el modal del formulario del comprador */

.buyer-modal {
	max-width: 500px;
	margin: 100px auto;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	outline: none;
	color: red;

}

div.buyer-modal>ul li.buyer-modal-li {
	color: red;

}

// .buyer-modal-overlay {
// 	background-color: rgba(0, 0, 0, 0.5);
// }



// .buyer-modal h3 {
// 	text-align: center;
// 	margin-bottom: 20px;
// 	color: #343a40;
// }

// .buyer-modal .form-group {
// 	margin-bottom: 15px;
// }

// .buyer-modal label {
// 	display: block;
// 	margin-bottom: 5px;
// 	color: #495057;
// }

// .buyer-modal input {
// 	width: 100%;
// 	padding: 8px;
// 	border: 1px solid #ced4da;
// 	border-radius: 4px;
// }

// .buyer-modal .form-actions {
// 	display: flex;
// 	justify-content: space-between;
// 	margin-top: 20px;
// }

// .buyer-modal .btn {
// 	padding: 10px 15px;
// 	border: none;
// 	border-radius: 4px;
// 	cursor: pointer;
// }

// .buyer-modal .btn-primary {
// 	background-color: #007bff;
// 	color: #ffffff;
// }

// .buyer-modal .btn-primary:hover {
// 	background-color: #0056b3;
// }

// .buyer-modal .btn-secondary {
// 	background-color: #6c757d;
// 	color: #ffffff;
// }

// .buyer-modal .btn-secondary:hover {
// 	background-color: #5a6268;
// }