.item-details {
	display: block;
	font-family: "Lora", serif;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	text-align: center;

	&__image {
		text-align: justify;
		max-width: 60%;
		height: auto;
		border-radius: 5px;
	}

	&__btn {
		font-family: "Nunito Sans", sans-serif;
		font-optical-sizing: auto;
		width: 20rem;
		height: 2.5rem;
		border-radius: 5px;
		font-size: 1rem;
		margin: 1rem;

	}

	&__count>button {
		margin: 0.5rem;
	}

}