.item {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));


	&__article {
		overflow: hidden;
		border-radius: 3%;
		margin: 0.5rem;
		background-color: rgb(228, 225, 227);
		font-family: "Lora", serif;
		height: auto;
		text-align: center;



		h3 {
			font-size: 1.5rem;
			text-align: center;
			padding: 0.5%;
			font-weight: 700;
			color: rgba(32, 30, 30, 0.917);


		}

		p {
			font-size: 1rem;
			font-weight: 200;
			font-stretch: 100%;
			margin: 1%;
			text-align: center;
		}

	}

	&__image {
		object-fit: cover;
		display: flex;
		align-items: center;
		width: 100%;
		height: 50%;
	}

	&__btn {
		display: block;
		margin: 1rem auto;
		width: 20rem;
		height: 2rem;
		font-size: 1rem;
		font-family: "Nunito Sans", sans-serif;
		font-optical-sizing: auto;
		border-radius: 5px;

	}

	a {
		text-decoration: none;
	}
}


.item-details {
	display: block;
	font-family: "Lora", serif;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	text-align: center;

	&__image {
		text-align: justify;
		max-width: 60%;
		height: auto;
		border-radius: 5px;
	}

	&__btn {
		font-family: "Nunito Sans", sans-serif;
		font-optical-sizing: auto;
		// width: 15%;
		// height: 2rem;
		// border-radius: 5px;
		// font-size: 1rem;
		// margin: 1rem;

	}

	&__count>button {
		margin: 0.5rem;
	}



}